In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

#A. Read the dataset file “Credit.csv” (from github using the following command), and assign it to a Pandas DataFrame: df  = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

df  = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")


#B. Check out the dataset. The “Credit” dataset includes the “balance” column (average credit card debt for a number of individuals) as target, as well as several features: age, cards (number of credit cards), education (years of education), income (in thousands of dollars), limit (credit limit), marital status, and rating (credit rating).
credit_df = df

df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [9]:
#C. Generate the feature matrix and target vector (target is “balance” in this dataset). Then, normalize (scale) the features (note: don’t normalize the target vector!). To normalize the data, you can simply use scale(X)  from sklearn.
from sklearn import preprocessing

feature_columns=['Income', 'Limit', 'Rating', 'Cards','Age','Education','Married']

df_modified = df[feature_columns]

balance_column = df['Balance']

#in modifed we are only scaling everything but balance
#df_scaled = scaler.fit_transform(df_modified.to_numpy())
#df_scaled = pd.DataFrame(df_scaled, columns=[
  #'Income', 'Limit', 'Rating', 'Cards','Age','Education','Married'])

#inserting balanced back into df_scaled dataframe
df_scaled.insert(7, 'Balance', balance_column); 

X = df_modified[feature_columns]
X_scaled = preprocessing.scale(X);
y=df_scaled['Balance']

#checking out our features and target
print(X_scaled)
print(y)

#checking if our dataframe is normalized like we wanted
X_scaled

NameError: name 'df_scaled' is not defined

In [6]:
#D. Split the dataset into testing and training sets with the following parameters: test_size=0.24, random_state=4.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.24, random_state=4)

#E. Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?
scaled_df_linreg = LinearRegression()

scaled_df_linreg.fit(X_train, y_train)

#the intercept is the first theta
print(scaled_df_linreg.intercept_)
#the coef are for the other remaining thetas
print(scaled_df_linreg.coef_)

#rating is the most important and income is the the least important

NameError: name 'X_scaled' is not defined

In [ ]:
#F. Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).
y_prediction = scaled_df_linreg.predict(X_test)

print(y_prediction)
print(y_test)

from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

In [ ]:
#G. Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?
from sklearn.model_selection import cross_val_score

 
# Applying 10-fold cross validation with "linear regression":
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 
my_linreg = LinearRegression()

mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())